body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(210, 228, 245);
}

.display {
  height: 50px;
}

#next-date {
  color: rgb(39, 19, 155);
  font-weight: 800;
  font-size: 22px;
}

footer {
  margin-top: 50px;
}
.satu {
  margin-top: 40px;
}
.label {
  font-size: 20px;
}
